.container {
  height: 1100px;
  width: 1000px;
  margin: 0 auto;
}
.row-first {
  width: 950;
  height: 40px;
  background-color: blue;
}

#first-img {
  width: 40px;
  height: 40px;
  border-radius: 70%;
  float: left;
}

#second-img {
  height: 22px;
  width: 65px;
  float: left;
  margin-left: 15px;
  margin-top: 10px;
}

#third-img {
  height: 30px;
  width: 90px;
  float: right;
  margin-left: 3px;
  margin-top: 5px;
}

.row-second {
  position: relative;
  margin-top: 7%;
}

.row-second > p,
h3 {
  margin-right: 40%;
}

#fourth-img {
  float: left;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  position: absolute;
  right: 40px;
  top: -30px;
}

#fifth-img {
  width: 280px;
  height: 160px;
  margin-top: 8%;
  margin-right: 50px;
}

#sixth-img {
  position: absolute;
  top: 13px;
  right: 48%;
  width: 25px;
  height: 25px;
}
.card-1 {
  width: 480px;
  height: 200px;

  left: 10px;
  display: inline-block;

  font-size: smaller;
}

.card-2 p {
  display: inline-block;
  width: 480px;
  height: 150px;
  position: absolute;
  right: 0px;
  top: 40px;
}
.card-2 h3 {
  display: inline-block;

  position: absolute;

  right: -20px;
  top: 0px;
}
.row-third {
  position: relative;
  margin-top: 10px;
}
